<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Monitoramento via Ping</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/LogoIFB.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>
    <header>
        <h2 style="text-align:center;">Monitoramento via Ping</h2>
    </header>

    <pre id="resultado"></pre>

    <div id="CaixText">
        <input type="text" id="host" placeholder="Digite um IP ou hostname">
        <input type="number" id="temporizador" placeholder="ms" value="500">
        <button id="botao" class="popup" onclick="Tabela()">Ping
            <span class="popuptext" id="myPopup">Informe o endereço do site ou um IP</span>
        </button>

    </div>
    <div id="container-bg">
    </div>

    <div id="toast-container"></div>
    <script>

        var input = document.getElementById("host");

        input.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("botao").click();
            }
        });

        var contador = 0;
        const pesquisas = {};

        function alternarPesquisa(id) {

            const pesquisa = pesquisas[id];

            if (!pesquisa) return;

            const botao = document.getElementById(`btn-${id}`);
            const excluir = document.getElementById(`excluir-${id}`);

            if (pesquisa.executando) {

                pesquisa.executando = false;

                botao.innerHTML = "Continuar";
                excluir.style.display = "inline-block";

            } else {

                pesquisa.executando = true;

                botao.innerHTML = "Parar";
                excluir.style.display = "none";
            }
        }

        function excluirPesquisa(id) {

            delete pesquisas[id];

            document.getElementById(`sessao-${id}`).remove();
        }

        function Tabela() {
            const container = document.getElementById('container-bg');
            const novoConteudo = `
                <div id="sessao-${contador}" class="sessao">
                    <div class="grafico">
                        <p style = 'color: #231F20; text-align: center; font-weight: 900;'>
                            ${document.getElementById("host").value.trim()}
                             - 
                            ${document.getElementById("temporizador").value.trim()}  
                             ms  
                        </p>
                        <canvas id="myChart-${contador}"></canvas>

                    </div>

                    <div class="dados">

                        <div class="caixa status-ok borda-verde" id="LatenciaBack-${contador}">
                            <p >Latência:</p>
                            <p id="LatenciaDados-${contador}"  ></p>
                        </div>

                        <div class="caixa status-ok borda-verde" id="MediaLatBack-${contador}">
                            <p>Latência Média:</p>
                            <p id="MediaLatDados-${contador}"  ></p>
                        </div>

                        <div class="caixa status-ok borda-vermelha" id="JitterBack-${contador}">
                            <p >Jitter:</p>
                            <p id="JitterDados-${contador}"  ></p>
                        </div>

                        <div class="caixa status-ok borda-vermelha" id="MediaJitBack-${contador}">
                            <p >Jitter Médio:</p>
                            <p id="MediaJitDados-${contador}"  ></p>
                        </div>

                        <div class="caixa status-ok borda-preta">
                            <p >Total de Pacotes</p>
                            <p id="PacotesTotalDados-${contador}"  ></p>
                        </div>

                        <div class="caixa status-ok borda-preta">
                            <p >Pacotes Perdidos</p>
                            <p id="PacotesPerdaAlt-${contador}"  ></p>
                        </div>

                        <div class="caixa status-ok borda-preta" id="PacotesPerdaBack-${contador}">
                            <p>Perda Percentual</p>
                            <p id="PacotesPerdaDados-${contador}"  ></p>
                        </div>

                            <div class="botoes">

                            <button id="btn-${contador}" onclick="alternarPesquisa(${contador})">
                                Parar
                            </button>

                            <button id="excluir-${contador}" onclick="excluirPesquisa(${contador})" style="display:none;background:#A6192E;">
                                Excluir
                            </button>

                    </div>
                    </div>

                </div>
            `;

            const host = document.getElementById("host").value.trim();

            if (!host) {
                var popup = document.getElementById("myPopup");
                popup.classList.remove("show");
                void popup.offsetWidth;
                popup.classList.add("show");

                setTimeout(() => {
                    popup.classList.remove("show");
                }, 2000);
                return
            }

            container.insertAdjacentHTML('beforeend', novoConteudo);

            testar(contador)
            contador++
            showToast(('Tabela ' + host + ' criada com sucesso'));
        }

        function addData(chart, label, newDataArray) {
            chart.data.labels.push(label);

            chart.data.datasets.forEach((dataset, index) => {
                dataset.data.push(newDataArray[index]);
            });

            chart.update();
        }

        function removeData(chart) {
            chart.data.labels.shift();

            chart.data.datasets.forEach((dataset) => {
                dataset.data.shift();
            });

            chart.update();
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function showToast(message) {
            const container = document.getElementById("toast-container");

            const toast = document.createElement("div");
            toast.className = "toast";
            toast.textContent = message;

            container.appendChild(toast);

            // Faz aparecer
            requestAnimationFrame(() => {
                toast.classList.add("show");
            });

            // Remove após 3 segundos
            setTimeout(() => {
                toast.classList.remove("show");
                toast.classList.add("hide");

                toast.addEventListener("transitionend", () => {
                    toast.remove();
                }, { once: true });

            }, 3000);
        }

        async function testar(contador) {

            pesquisas[contador] = {
                executando: true
            };

            const xValues = [];
            const yValues_rtt = [];
            const yValues_jit = [];

            const ChartTabela = 'myChart-' + contador

            //Latencia
            const LatenciaBackConst = "LatenciaBack-" + contador
            const LatenciaBackAviso = document.getElementById(`LatenciaBack-${contador}`);
            const LatenciaDadosConst = 'LatenciaDados-' + contador

            //Media da Latencia
            const MediaLatBackConst = "MediaLatBack-" + contador
            const MediaLatBackAviso = document.getElementById(`MediaLatBack-${contador}`);
            const MediaLatDadosConst = 'MediaLatDados-' + contador

            //Jitter
            const JitterBackConst = "JitterBack-" + contador
            const JitterBackAviso = document.getElementById(`JitterBack-${contador}`);
            const JitterDadosConst = 'JitterDados-' + contador

            //Media do Jitter
            const MediaJitBackConst = "MediaJitBack-" + contador
            const MediaJitBackAviso = document.getElementById(`MediaJitBack-${contador}`);
            const MediaJitDadosConst = "MediaJitDados-" + contador

            //Percentual de Pacotes Perdidos
            const PacotesPerdaBackConst = "PacotesPerdaBack-" + contador
            const PacotesPerdaBackAviso = document.getElementById(`PacotesPerdaBack-${contador}`);
            const PacotesPerdaDadosConst = 'PacotesPerdaDados-' + contador

            //Total Pacotes e Perda Total de Pacotes
            const PacotesTotalDadosConst = "PacotesTotalDados-" + contador
            const PacotesPerdaAltConst = "PacotesPerdaAlt-" + contador

            var ctx = document.getElementById(ChartTabela);

            var CoolChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: xValues,

                    datasets: [{
                        label: 'Latência',
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "rgba(80,158,47,1.0)",
                        borderColor: "rgba(80,158,47,1.0)",
                        data: yValues_rtt
                    }, {
                        label: 'Jitter',
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "rgba(166,25,46,1.0)",
                        borderColor: "rgba(166,25,46,1.0)",
                        data: yValues_jit
                    }]
                },
                options: {
                    maintainAspectRatio: true,
                    plugins: {
                        legend: { display: true },
                        title: {
                            display: false,
                        }
                    }

                }
            });

            const host = document.getElementById("host").value.trim();
            const tempo = document.getElementById("temporizador").value;

            let PacotesPerdaAltVar = 0
            let PacotesTotalVar = 0
            let last_diff = 0
            let soma_ping = 0
            let soma_jitter = 0
            let MediaJitVar = 0
            let MediaLatVar = 0
            let LatenciaVar = 0
            let PacotesPerdaVar = 0
            let dados

            while (true) {

                if (!pesquisas[contador]) {
                    break;
                }

                if (!pesquisas[contador].executando) {
                    await sleep(300);
                    continue;
                }

                if (xValues.length == 20) {
                    removeData(CoolChart)
                }

                try {
                    PacotesTotalVar = PacotesTotalVar + 1

                    const resposta = await fetch(`/ping/${encodeURIComponent(host)}`);

                    if (!resposta.ok) {
                        PacotesPerdaAltVar = PacotesPerdaAltVar + 1
                        dados = {
                            rtt_ms: 0
                        };
                        last_diff = 0

                        MediaLatVar =
                            PacotesTotalVar > 0
                                ? soma_ping / PacotesTotalVar
                                : 0;
                        MediaLatVar = MediaLatVar.toFixed(2)
                        LatenciaVar = dados.rtt_ms
                        LatenciaVar = LatenciaVar.toFixed(2)

                        if (xValues.length == 0) {
                            last_diff = dados.rtt_ms
                        }

                        let JitterVar = Math.abs((dados.rtt_ms - last_diff))
                        soma_jitter = soma_jitter + JitterVar;
                        JitterVar = JitterVar.toFixed(2)
                        MediaJitVar =
                            PacotesTotalVar > 0
                                ? soma_jitter / PacotesTotalVar
                                : 0;
                        MediaJitVar = MediaJitVar.toFixed(2)

                        PacotesPerdaVar = PacotesPerdaAltVar / PacotesTotalVar * 100
                        PacotesPerdaVar = PacotesPerdaVar.toFixed(2)

                        addData(CoolChart, PacotesTotalVar, [0, last_diff]);

                        document.getElementById(MediaLatDadosConst).innerHTML = MediaLatVar + ' ms';
                        if (MediaLatVar > 50) {
                            MediaLatBackAviso.classList.replace("status-ok", "status-alerta");
                        } else {
                            MediaLatBackAviso.classList.replace("status-alerta", "status-ok");
                        }

                        document.getElementById(LatenciaDadosConst).innerHTML = LatenciaVar + ' ms';

                        if (LatenciaVar > 100) {
                            LatenciaBackAviso.classList.replace("status-ok", "status-alerta");
                        } else {
                            LatenciaBackAviso.classList.replace("status-alerta", "status-ok");
                        }

                        document.getElementById(JitterDadosConst).innerHTML = JitterVar + ' ms';
                        if (JitterVar > 10) {
                            JitterBackAviso.classList.replace("status-ok", "status-alerta");
                        } else {
                            JitterBackAviso.classList.replace("status-alerta", "status-ok");
                        }

                        document.getElementById(MediaJitDadosConst).innerHTML = MediaJitVar + ' ms';
                        if (MediaJitVar > 50) {
                            MediaJitBackAviso.classList.replace("status-ok", "status-alerta");
                        } else {
                            MediaJitBackAviso.classList.replace("status-alerta", "status-ok");
                        }

                        document.getElementById(PacotesTotalDadosConst).innerHTML = PacotesTotalVar;
                        document.getElementById(PacotesPerdaAltConst).innerHTML = PacotesPerdaAltVar;

                        document.getElementById(PacotesPerdaDadosConst).innerHTML = PacotesPerdaVar + '%';
                        if (PacotesPerdaVar >= 1) {
                            PacotesPerdaBackAviso.classList.replace("status-ok", "status-alerta");
                        } else {
                            PacotesPerdaBackAviso.classList.replace("status-alerta", "status-ok");
                        }

                        throw new Error(`O servidor retornou status ${resposta.status} na tabela ${host} - ${tempo}ms`);
                    }

                    dados = await resposta.json();

                    if (dados.rtt_ms == null) {
                        PacotesPerdaAltVar = PacotesPerdaAltVar + 1
                        dados = {
                            rtt_ms: 0
                        };
                        last_diff = 0

                        MediaLatVar =
                            PacotesTotalVar > 0
                                ? soma_ping / PacotesTotalVar
                                : 0;
                        MediaLatVar = MediaLatVar.toFixed(2)
                        LatenciaVar = dados.rtt_ms
                        LatenciaVar = LatenciaVar.toFixed(2)

                        if (xValues.length == 0) {
                            last_diff = dados.rtt_ms
                        }
                        let JitterVar = Math.abs((dados.rtt_ms - last_diff))
                        soma_jitter = soma_jitter + JitterVar;

                        JitterVar = JitterVar.toFixed(2)
                        MediaJitVar =
                            PacotesTotalVar > 0
                                ? soma_jitter / PacotesTotalVar
                                : 0;
                        MediaJitVar = MediaJitVar.toFixed(2)
                        PacotesPerdaVar = PacotesPerdaAltVar / PacotesTotalVar * 100
                        PacotesPerdaVar = PacotesPerdaVar.toFixed(2)

                        addData(CoolChart, PacotesTotalVar, [0, last_diff]);

                        document.getElementById(MediaLatDadosConst).innerHTML = MediaLatVar + ' ms';
                        if (MediaLatVar > 50) {
                            MediaLatBackAviso.classList.replace("status-ok", "status-alerta");
                        } else {
                            MediaLatBackAviso.classList.replace("status-alerta", "status-ok");
                        }

                        document.getElementById(LatenciaDadosConst).innerHTML = LatenciaVar + ' ms';
                        if (LatenciaVar > 100) {
                            LatenciaBackAviso.classList.replace("status-ok", "status-alerta");
                        } else {
                            LatenciaBackAviso.classList.replace("status-alerta", "status-ok");
                        }
                        document.getElementById(JitterDadosConst).innerHTML = JitterVar + ' ms';
                        if (JitterVar > 10) {
                            JitterBackAviso.classList.replace("status-ok", "status-alerta");
                        } else {
                            JitterBackAviso.classList.replace("status-alerta", "status-ok");
                        }

                        document.getElementById(MediaJitDadosConst).innerHTML = MediaJitVar + ' ms';
                        if (MediaJitVar > 50) {
                            MediaJitBackAviso.classList.replace("status-ok", "status-alerta");
                        } else {
                            MediaJitBackAviso.classList.replace("status-alerta", "status-ok");
                        }
                        document.getElementById(PacotesTotalDadosConst).innerHTML = PacotesTotalVar;
                        document.getElementById(PacotesPerdaAltConst).innerHTML = PacotesPerdaAltVar;

                        document.getElementById(PacotesPerdaDadosConst).innerHTML = PacotesPerdaVar + '%';
                        if (PacotesPerdaVar >= 1) {
                            PacotesPerdaBackAviso.classList.replace("status-ok", "status-alerta");
                        } else {
                            PacotesPerdaBackAviso.classList.replace("status-alerta", "status-ok");
                        }
                        throw new Error(`TimedOut na Tabela ${host}-${tempo}`);
                    }

                    soma_ping = soma_ping + dados.rtt_ms

                    if (xValues.length == 0) {
                        last_diff = dados.rtt_ms
                    }

                    let JitterVar = Math.abs((dados.rtt_ms - last_diff))
                    soma_jitter = soma_jitter + JitterVar;

                    JitterVar = JitterVar.toFixed(2)
                    MediaJitVar =
                        PacotesTotalVar > 0
                            ? soma_jitter / PacotesTotalVar
                            : 0;
                    MediaJitVar = MediaJitVar.toFixed(2)

                    last_diff = dados.rtt_ms

                    MediaLatVar =
                        PacotesTotalVar > 0
                            ? soma_ping / PacotesTotalVar
                            : 0;
                    MediaLatVar = MediaLatVar.toFixed(2)
                    LatenciaVar = dados.rtt_ms
                    LatenciaVar = LatenciaVar.toFixed(2)

                    PacotesPerdaVar = PacotesPerdaAltVar / PacotesTotalVar * 100
                    PacotesPerdaVar = PacotesPerdaVar.toFixed(2)

                    addData(CoolChart, PacotesTotalVar, [dados.rtt_ms, JitterVar]);

                    document.getElementById(MediaLatDadosConst).innerHTML = MediaLatVar + ' ms';
                    if (MediaLatVar > 50) {
                        MediaLatBackAviso.classList.replace("status-ok", "status-alerta");
                    } else {
                        MediaLatBackAviso.classList.replace("status-alerta", "status-ok");
                    }

                    document.getElementById(LatenciaDadosConst).innerHTML = LatenciaVar + ' ms';
                    if (LatenciaVar > 100) {
                        LatenciaBackAviso.classList.replace("status-ok", "status-alerta");
                    } else {
                        LatenciaBackAviso.classList.replace("status-alerta", "status-ok");
                    }
                    document.getElementById(JitterDadosConst).innerHTML = JitterVar + ' ms';
                    if (JitterVar > 10) {
                        JitterBackAviso.classList.replace("status-ok", "status-alerta");
                    } else {
                        JitterBackAviso.classList.replace("status-alerta", "status-ok");
                    }

                    document.getElementById(MediaJitDadosConst).innerHTML = MediaJitVar + ' ms';
                    if (MediaJitVar > 50) {
                        MediaJitBackAviso.classList.replace("status-ok", "status-alerta");
                    } else {
                        MediaJitBackAviso.classList.replace("status-alerta", "status-ok");
                    }

                    document.getElementById(PacotesTotalDadosConst).innerHTML = PacotesTotalVar;
                    document.getElementById(PacotesPerdaAltConst).innerHTML = PacotesPerdaAltVar;

                    document.getElementById(PacotesPerdaDadosConst).innerHTML = PacotesPerdaVar + '%';
                    if (PacotesPerdaVar >= 1) {
                        PacotesPerdaBackAviso.classList.replace("status-ok", "status-alerta");
                    } else {
                        PacotesPerdaBackAviso.classList.replace("status-alerta", "status-ok");
                    }

                } catch (erro) {
                    document.getElementById("resultado").textContent = "Falha na requisição: " + erro.message;
                }

                await sleep(tempo);

            }
        }
    </script>
</body>

<footer>
    <div style="display: flex; justify-content: center; position: relative;
    height: 100px; bottom: 70%;">
        <div style="margin-top: 20px; border: 1px black; border-style: solid none none none;
        text-align:center; width: 60%;">
            <p style="margin-top: 10px;">
                Feito por: Arthur Carlos Neuhauss & Thiago Vinicius da Silva Rezende
                <br>
                Estudantes do Instituto Federal de Brasília
            </p>
        </div>
    </div>
</footer>

</html>